* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

/* body {
    max-width: 85%;
    margin: 0px auto;
} */

/* Shared Style */

.btn {
    border: none;
    border-radius: 4px;
    background-color: #30B868;
    padding: 12px 16px;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

/* Main Style */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
    background-color: rgba(255, 255, 255, 1);
}

#nav-menu {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

#nav-menu li {
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    cursor: pointer;
}

#hero {
    background-image: url('./assets/hero-bg.png');
    background-repeat: no-repeat;
    padding: 70px 120px 134px 120px;
}

#hero-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#point {
    border-radius: 1000px;
    background: rgba(255, 255, 255, 1);
    padding: 8px 12px;
    padding-left: 28px;
    margin: 0px auto;
    color: rgba(70, 145, 101, 1);
    font-size: 16px;
    font-weight: 500;
    background-image: url('./assets/focus.png');
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: 10px center;
}

#hero-content h1 {
    font-size: 62px;
    font-weight: 700;
    padding: 0px 240px;
    color: #FFFFFF;
}

#hero-content #p-2 {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    padding: 0px 250px;
}

#hero-content-btn {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 32px;
}

#hero-content-btn button:first-child {
    padding-right: 30px;
    background-image: url('./assets/ArrowRight.png');
    background-repeat: no-repeat;
    background-position: 97% center;
}

#hero-content-btn button:last-child {
    padding-left: 30px;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 4px;
    background-color: transparent;
    background-image: url('./assets/play-btn.png');
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: 3% center;
}