* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

/* Shared Style */

.btn {
    border: none;
    border-radius: 4px;
    background-color: #30B868;
    padding: 12px 16px;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

/* Main Style */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
    background-color: rgba(255, 255, 255, 1);
}

#nav-menu {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

#nav-menu li {
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    cursor: pointer;
}

#hero {
    background-image: url('./assets/hero-bg.png');
    background-repeat: no-repeat;
    padding: 70px 120px 134px 120px;
}

#hero-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#point {
    border-radius: 1000px;
    background: rgba(255, 255, 255, 1);
    padding: 8px 12px;
    padding-left: 28px;
    margin: 0px auto;
    color: rgba(70, 145, 101, 1);
    font-size: 16px;
    font-weight: 500;
    background-image: url('./assets/focus.png');
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: 10px center;
}

#hero-content h1 {
    font-size: 62px;
    font-weight: 700;
    padding: 0px 240px;
    color: #FFFFFF;
}

#hero-content #p-2 {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    padding: 0px 250px;
}

#hero-content-btn {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 32px;
}

#hero-content-btn button:first-child {
    padding-right: 30px;
    background-image: url('./assets/ArrowRight.png');
    background-repeat: no-repeat;
    background-position: 97% center;
}

#hero-content-btn button:last-child {
    padding-left: 30px;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 4px;
    background-color: transparent;
    background-image: url('./assets/play-btn.png');
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: 3% center;
}

#note {
    padding: 120px;
}

#note-heading h2 {
    color: rgba(0, 25, 49, 1);
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}

#note-heading p {
    color: rgba(98, 115, 130, 1);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-top: 16px;
}

#note-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    margin-top: 44px;
}

.note-card {
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 1);
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.note-card .icon {
    width: 60px;
    height: 60px;
    background: rgba(249, 85, 85, 1);
    border-radius: 50%;
}

.note-card .i-1 {
    background-image: url('./assets/Vector.png');
    background-repeat: no-repeat;
    background-position: center;
}

.note-card .i-2 {
    background-image: url('./assets/Bookmarks.png');
    background-repeat: no-repeat;
    background-position: center;
}

.note-card .i-3 {
    background-image: url('./assets/Brain.png');
    background-repeat: no-repeat;
    background-position: center;
}

.note-card .i-4 {
    background-image: url('./assets/Info.png');
    background-repeat: no-repeat;
    background-position: center;
}

.note-card h3 {
    color: rgba(0, 25, 49, 1);
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

.note-card p {
    color: rgba(98, 115, 130, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
}

#brain {
    padding: 120px;
    background: rgba(255, 255, 255, 1);
}

#brain-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

#brain-content .p-1 {
    color: rgba(70, 145, 101, 1);
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}

#brain-content .p-2 {
    color: rgba(98, 115, 130, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 16px;
}

#brain-content h2 {
    color: rgba(0, 25, 49, 1);
    font-size: 42px;
    font-weight: 700;
    margin-top: 16px;
}

#brain-list {
    list-style: none;
    margin-top: 40px;
}

#brain-list li {
    position: relative;
    padding-left: 30px;
    margin-bottom: 16px;
    color: rgba(0, 25, 49, 1);
    font-size: 16px;
    font-weight: 500;
}

#brain-list li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    background-image: url("./assets/CheckCircle.png");
    background-size: contain;
    background-repeat: no-repeat;
}